name: english_flash_cards
description: "A new Flutter project."
publish_to: 'none'
version: 0.1.0

environment:
  sdk: ^3.10.0-180.0.dev

dependencies:
  flutter:
    sdk: flutter
  shared_preferences: ^2.2.2
  supabase_flutter: ^2.5.0
  uuid: ^4.2.1
  lottie: ^3.1.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true
  assets:
    - assets/animations/
